* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  width: 98%;
  height: 1300px;
  background: rgb(0, 87, 187);
  margin: 80px auto;
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.container .item {
  margin-top: 5px;
  width: 200px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.2rem;
  background: #fff;
  margin-left: 2px;
  margin-right: 2px;
}

.container .item-1 {
  flex: 20%;
}

.container .item-2 {
  flex: 10%;
}

.container .item-3 {
  flex: 30%;
}

.container .item-4 {
  flex: 10%;
}

.container .item-5 {
  flex: 23%;
}

.container .item-6 {
  flex: 7%;
}
